<section data-ng-controller="HomeController">
  <div class="jumbotron text-center">
    <div class="row">
      <div  >
       <h1>Wellcom Here</h1>
      </div>
    </div>
    <br> 
    <div class="row">
      <button type="button"  class="btn btn-success" ui-sref="products.list()">View All Product </button>
    </div>
  </div>
 
 
 
</section>
