.img-center {
	position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.page-header
{
	    padding-left: 15px;
    padding-right: 15px;
}
.panel-body {
     padding: 0px; 
}

.panel-footer {
 
    min-height: 62px;
}

.float-right
{
	vertical-align: middle;
	float:right;
}

 
 .list-group-item-text {
    margin-left: 10px; 
}

.text-center{
    padding-left: 15px; 
}
