<section>
  <div class="page-header">
    <h1>{{vm.product._id ? 'Edit Product' : 'New Product'}}</h1>
  </div>

  <div class="col-md-12">
    <div class="container">
      <div class="row">
        <div class="col-xs-6">
          <form name="vm.form.productForm" class="form-horizontal" ng-submit="vm.save(vm.form.productForm.$valid)" novalidate>
            <fieldset>
              <div class="form-group" show-errors>
                <label class="control-label" for="name">Name</label>
                <input name="name" type="text" ng-model="vm.product.name" id="name" class="form-control" placeholder="Name" required>
                <div ng-messages="vm.form.productForm.name.$error" role="alert"> 
                </div>
              </div>
              <div class="form-group" show-errors>
                <label class="control-label" for="name">Description</label>
                <textarea name="description" type="text" ng-model="vm.product.description" id="description" class="form-control" rows="8" placeholder="Description" required></textarea>
                <div ng-messages="vm.form.productForm.name.$error" role="alert"> 
                </div>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-default">{{vm.product._id ? 'Update' : 'Create'}}</button>
              </div>
              <div ng-show="vm.error" class="text-danger">
                <strong ng-bind="vm.error"></strong>
              </div>
            </fieldset>
          </form>
        </div>
        <div class="col-xs-6">
        </br></br></br>
        <fieldset>
          <div class="form-group text-center">
            <img data-ng-src="{{imageURL || 'uploads/images/default_product.png'}}" alt="{{vm.product.product_img}}" class="img-thumbnail user-profile-picture">
          </div>
          <div class="text-center form-group"  >
            <span class="btn btn-default btn-file">
              Select Image <input type="file" nv-file-select uploader="uploader">
            </span>
          </div>
          <div data-ng-show="success" class="text-center text-success">
            <strong>Profile Picture Changed Successfully</strong>
          </div>
          <div data-ng-show="error" class="text-center text-danger">
            <strong data-ng-bind="error"></strong>
          </div>
        </fieldset>
      </div>
    </div>
  </div>







</div>
</section>
