<section>
  <div class="page-header">
    <div >
      <div class="float-right"><button type="button" 
        class="btn btn-success" ui-sref="products.create()">Add Product</button></div>
        <div><h1>Products</h1></div>
      </div>
    </div>
    <div class="list-group"> 
      <a ng-repeat="product in vm.products" ui-sref="products.view({ productId: product._id })">
       <div class="col-sm-6 col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading">{{product.name}}</div>
          <div class="panel-body" resize>
            <div class="img-center">
              <img class="img-thumbnail" src="{{product.product_img}}">
            </div>
          </div>
          <div class="panel-footer">
            {{ product.description  | limitTo: 40 }}{{product.description .length > 20 ? '...' : ''}}
          </div>
          <div class="text-left">
            <small class="list-group-item-text">
             Post by: <span ng-if="product.user" ng-bind="product.user.displayName"></span>
             <!-- <span ng-bind="product.created | date:'mediumDate'"></span>-->
           </small>
         </div>
       </div>
     </div> 
   </a>
 </div>
 <div class="alert alert-warning text-center" ng-if="vm.products.$resolved && !vm.products.length">
  No Products yet, why don't you <a ui-sref="products.create">create one</a>?
</div>
</section>
